.bunner {
	background-image: url("praia.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	padding: 2em;
}

.bunner__title {
	color: #fff;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 1em;
}

@media (max-width: 576px) {
	.bunner {
		background-image: url("praia1.jpg");
		padding: 1em 0em;
	}
}